<configuration debug="true">

    <springProfile name="local">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %logger{0} {%X} -     %msg%n</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="!local">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/api-auth.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/api-auth.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>5</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>100MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %logger{0} {%X} -     %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

</configuration>